openapi: 3.2.0
info:
  description: The Lookup API provides a simple interface for applications that just want to retrieve a list of items. Using the Lookup API, clients can retrieve lists of level/semester codes, subjects, and schools used within Cardiff University.
  version: v1
  title: LookupsApi Qualifications API
  termsOfService: http://www.cardiff.ac.uk/terms/
  contact:
    name: integration@cardiff.ac.uk
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.data.cardiff.ac.uk/lookups/v1
security:
- default: []
tags:
- name: Qualifications
paths:
  /qualifications:
    get:
      tags:
      - Qualifications
      summary: Retrieve a list of all available qualifications used within the Univesity
      parameters:
      - name: school
        in: query
        description: Returns qualifications linked to the specified school code e.g. SOCSI (Social Sciences)
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: 'Filters modules by programme type. Accepted values: P (Postgraduate), R (Research) or U (Undergraduate). (Note: This parameter is case sensitive.)'
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of qualifications to return
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: Offset of qualifications to return
        required: false
        schema:
          type: integer
      - name: sort
        in: query
        description: Sorts the data by column name, use "-" for descending
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns a list all Levels
          content:
            application/json:
              schema:
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      levels:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            code:
                              type: string
                          required:
                          - code
                          - name
                  meta:
                    $ref: '#/components/schemas/Meta'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      operationId: getQualifications
      x-operation-id-source: derived
components:
  schemas:
    Meta:
      type: object
      required:
      - code
      - contentType
      - count
      - errorStatus
      properties:
        errorMessage:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
        count:
          type: integer
          format: int32
        code:
          type: integer
          format: int32
        contentType:
          type: string
        errorStatus:
          type: boolean
      title: meta
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          scopes: {}
          authorizationUrl: https://api.data.cardiff.ac.uk/authorize
